@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-orbitron {
    font-family: var(--font-orbitron), sans-serif;
  }

  .font-roboto {
    font-family: var(--font-roboto), sans-serif;
  }

  .font-roboto-mono {
    font-family: var(--font-roboto-mono), sans-serif;
  }

  /* Estilos para Firefox */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #22d3ee #1f2937;
  }

  /* Estilos para Chrome, Safari e Edge */
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .scrollbar-track-gray-800::-webkit-scrollbar-track {
    background-color: #1f2937;
    border-radius: 10px;
  }
  
  .scrollbar-thumb-cyan-400::-webkit-scrollbar-thumb {
    background-color: #22d3ee;
    border-radius: 10px;
    border: 2px solid #1f2937;
  }

  .hover\:scrollbar-thumb-cyan-300:hover::-webkit-scrollbar-thumb {
    background-color: #67e8f9;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}